set_io CLKIN 128
set_io SCLK 129
set_io CSn 143
set_io MISO 141
set_io MOSI 142

set_io POT_SCLK 119
set_io POT_CSn 120
set_io POT_MOSI 118
set_io POT_SHDN 121

set_io SENSE[0] 79
set_io SENSE[1] 80
set_io SENSE[2] 81
set_io SENSE[3] 82
set_io SENSE[4] 74
set_io SENSE[5] 75
set_io SENSE[6] 76
set_io SENSE[7] 78
set_io DIR 124
set_io LED[0] 49
set_io LED[1] 83
set_io LED[2] 84
set_io LED[3] 85
set_io INHIBIT[0] 99
set_io INHIBIT[1] 98
set_io INHIBIT[2] 97
set_io INHIBIT[3] 96
set_io INHIBIT[4] 88
set_io INHIBIT[5] 87
set_io INHIBIT[6] 91
set_io INHIBIT[7] 90
set_io X0_EN_F 106
set_io X0_EN_R 105
set_io X1_EN_F 104
set_io X1_EN_R 102
set_io Y0_EN_F 117
set_io Y0_EN_R 116
set_io Y1_EN_F 115
set_io Y1_EN_R 114
set_io Y2_EN_F 113
set_io Y2_EN_R 112
set_io Y3_EN_F 110
set_io Y3_EN_R 107